.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px 8px;
  width: calc(100 / 3 * 0.01);
  height: 64px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.15);
    border-color: transparent;
  }

  &:nth-child(3n) {
    border-right: none;
  }

  &:nth-child(3n+1):nth-last-child(-n+3),
  &:nth-child(3n+1):nth-last-child(-n+3)~& {
    border-bottom: none;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin: 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;

    >img {
      width: 100%;
    }
  }

  .name {
    width: 48px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
  }
}